<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!--jquery-->
    <link href="{% static "jquery/css/jquery-ui-1.8.16.custom.css" %}" rel="stylesheet">
    <!--bootstrap-->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!--app-->
    <link href="{% static "app/css/style.css" %}" rel="stylesheet">
</head>
<body>
    <!--Navigation-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">
                    <img src="{% static "app/img/logo.png" %}" height="45" alt="logo" /></a>
                <ul id="primary-nav" class="nav">
                    <li><a href="{% url 'index' %}"><i class="nav-icon-9"></i><span>Timeline</span></a></li>
					<li><a href="{% url 'my_posts' %}"><i class="nav-icon-10"></i><span>My Posts</span></a></li>
                    <li><a href="#" onclick="javascript:Dashboard.addWidget();"><i class="nav-icon-13"></i><span>Add Account</span></a></li>
                    <li><a href="#" onclick="javascript:Dashboard.addPost();"><i class="nav-icon-14"></i><span>New Post</span></a></li>
                </ul>
                <ul id="secondary-nav" class="nav pull-right">
                    <li><a data-toggle="modal" href="#myModal"><i class="icon-user icon-white"></i>&nbsp;{% block username %}{% endblock %}</a></li>
                    <li>
                        <a href="#">
                            <i class="icon-cog icon-white"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li><a href="{% url 'user_logout' %}"><i class="icon-off icon-white"></i>&nbsp;Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Profile Form-->
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×</button>
            <h3>
                Profile</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
            <legend>Contact Info</legend>
            <div class="control-group">
                <label class="control-label" for="txtContactName">
                    Name</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input class="span4" id="txtContactName" type="text">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtPhone">
                    Phone</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-comment"></i></span>
                        <input class="span4" id="txtPhone" type="text">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtEmail">
                    E-mail</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input class="span4" id="txtEmail" type="text">
                    </div>
                </div>
            </div>
            <legend>Security Info</legend>
            <div class="control-group">
                <label class="control-label" for="txtLoginID">
                    Login ID</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input class="span4" id="txtLoginID" type="text" value="admin" disabled>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtPassword">
                    Password
                </label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        <input class="span4" id="txtPassword" type="password">
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a> <a href="#"
                class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
    <!--Container-->
    <div class="container-fluid">

       {% block body_block %}{% endblock %}
    </div>
    <!--jquery-->
    <script src="{% static "jquery/js/jquery-1.7.2.min.js" %} "></script>
    <!--bootstrap-->
    <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tab.js"%}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-button.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>
    <!--jquery ui-->
    <script src="{% static "jquery/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "jquery/js/jquery-ui-1.8.16.custom.min.js" %}"></script>
    <!--app-->
    <script src="{% static "app/js/script.js" %}"></script>
    <!--jquery init-->
    <script>
        $('document').ready(function () {
            Dashboard.init();
        });

        //Live Tooltip
        $('body').tooltip({
            selector: '[rel=tooltip]'
        });

        function ShowHelp() {
            window.open('help.html', '', 'height=600,width=800,scrollbars=1,resizable=1');
        }
    </script>
</body>
</html>

