<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!--jquery-->
    <link href="{% static "jquery/css/jquery-ui-1.8.16.custom.css" %}" rel="stylesheet">
    <!--bootstrap-->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!--app-->
    <link href="{% static "app/css/style.css" %}" rel="stylesheet">
</head>
<body style="padding: 0px;">
   <!--Container-->
    <div class="container-fluid">

       {% block body_block %}{% endblock %}
    </div>
    <!--jquery-->
    <script src="{% static "jquery/js/jquery-1.7.2.min.js" %} "></script>
    <!--bootstrap-->
    <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tab.js"%}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-button.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>
    <!--jquery ui-->
    <script src="{% static "jquery/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "jquery/js/jquery-ui-1.8.16.custom.min.js" %}"></script>
    <!--app-->
    <script src="{% static "app/js/script.js" %}"></script>
    <!--jquery init-->
    <script>
        $('document').ready(function () {
            Dashboard.init();
        });

        //Live Tooltip
        $('body').tooltip({
            selector: '[rel=tooltip]'
        });

        function ShowHelp() {
            window.open('help.html', '', 'height=600,width=800,scrollbars=1,resizable=1');
        }
    </script>
</body>
</html>

