﻿<meta http-equiv="refresh" content="300">
<div style="font-family: Arial,sans-serif; ">
{% if timeline %}
        {% for line in timeline %}
			<p><span style="color: #0088cc;">
                {% if line.picture != '' %}
                    <img src="{{line.picture}}"  width="300px" style="margin:5px;"/>
				{% endif %} <br />
                {% if line.video_source != '' %}
                    <video src="{{ line.video_source }}" width="300px" controls></video>
                {% endif %}<br />
                <strong style="font-size:14px;">{{line.username}}</strong>
                {% if line.location != '' %}
                <small>at {{ line.location.name}}</small>
                {% endif %}</span><br />
            <span style="font-size:12px;">{{ line.content }}</span><br />
            <span><small>{{ line.published_date }}</small></span>
            </p>
        {% endfor %}
{% endif %}
</div>