﻿{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} oneapp | home{% endblock %}

{% block username %}{{ user.get_full_name|default:user.username }}{% endblock %}

{% block body_block %}
    <div id="columns" class="row-fluid">
    {% if accounts %}
        {% for account in accounts %}
            {% if  forloop.counter == 1 %}
                 <ul id="widget{{forloop.counter}}" class="column ui-sortable unstyled">
            {% endif %}
                <li id="Widget{{forloop.counter}}" class="widget">
                    <div class="widget-head">
                        <span style="margin-bottom:2px;"><img src="/static/app/img/{{ account.provider }}.jpg" width="25px" height="25px" alt="{{ account.provider }}" /> {% if account.extra_data.email %}{{ account.extra_data.email }}{% elif account.extra_data.screen_name %}@{{ account.extra_data.screen_name  }}{% elif account.extra_data.username %}@{{ account.extra_data.username  }}{% endif %}</span></div>
                    <div class="widget-content">
                        <iframe id="iframeWidget1" class="widget-iframe" style="overflow: hidden;" src="
                            {% if account.provider == 'twitter' %}
                                /my/twitter/account_id/{{ account.id }}
							{% elif account.provider == 'instagram' %}
								/my/instagram/account_id/{{ account.id }}
							{% elif account.provider == 'facebook' %}
								/my/facebook/account_id/{{ account.id }}
                            {% else %}
                                {% url 'widgets' %}
                            {% endif %}
                        ">
                        </iframe>
                    </div>
                </li>

            {% if  forloop.counter|divisibleby:2 and forloop.counter != 0 %}
                 </ul>
                 <ul id="widget{{forloop.counter}}" class="column ui-sortable unstyled">
            {% endif %}
          {{ account.name }}
        {% endfor %}
    {% else %}
        <iframe src="/accounts/social/connections/" style="border:0px;width:100%;height:300px;" frameborder="0"></iframe>
    {% endif %}
    </div>
{% endblock %}