{% extends 'start.html' %}

{% load staticfiles %}

{% block title %}aggregate.ly | Login{% endblock %}

{% block body_block %}
      <div class="row">
            <div class="span4 offset4">
                <form class="well" action="{% url 'user_login' %}" method="post">
                    {% csrf_token %}
                <div class="control-group">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input id="inputUsername" type="text" placeholder="Username" name="username">
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        <input id="inputPassword" type="password" placeholder="Password" name="password">
                    </div>
                </div>
                <div><input class="btn btn-large btn-block btn-primary" style="width: 100%;" type="submit" value="Log In" /></div>
                    <div>
                        <a href="{% url 'create_account' %}">I don't have an account</a>
                    </div>
                </form>
            </div>
      </div>
{% endblock %}
