{% extends 'base-noheader.html' %}

{% load staticfiles %}

{% block title %} oneapp | post to social media{% endblock %}

{% block username %}{{ user.get_full_name|default:user.username }}{% endblock %}


{% block body_block %}
    <div id="columns" class="row-fluid">
        <div class="row" style="margin:2px;">
            <div class="offset4">
                <form style="margin:0px; " action="{% url 'social_post' %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                <div class="control-group">
                    <div class="input-prepend">
                        <span class="add-on" style="height:40px"><i class="icon-envelope"></i></span>
                        <textarea placeholder="Say Something..." id="inputPost" name="post"></textarea>
                    </div>
                </div>
              <!--  <div class="control-group">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-upload"></i></span>
                        <input type="file" name="media" id="media_upload" style="width: 0px; visibility: hidden;" />
                        <label style="font-family: Arial, sans-serif; color:#000; font-size: 13px; font-weight: bold; display: inline; margin-top:2px; border: 1px solid #CCC; padding: 5px; padding-right: 110px; width: 224px; height: 30px" for="media_upload">Upload an Image </label>
                    </div>
                </div>-->
                <div class="control-group">
                    <div class="input-prepend">
                    {% if accounts %}
                       {% for account in accounts %}
                           {% if account.provider != 'instagram' %}
                               <span style="font-family: Arial, sans-serif; color:#000; font-size: 13px; font-weight: bold;"><input type="checkbox" name="post_to_list" value="{{ account.provider }}:{{ account.id }}" />
                                <span  style="text-transform:capitalize;">{{ account.provider }}</span>: {% if account.extra_data.email %}{{ account.extra_data.email }}{% elif account.extra_data.screen_name %}{{ account.extra_data.screen_name  }}{% elif account.extra_data.username %}{{ account.extra_data.username  }}{% endif %}</span>
                               </span><br />
                           {% endif %}
                        {% endfor %}
                    {% else %}
                        <span style="font-family: Arial, sans-serif; color:#000; font-size: 13px; font-weight: bold;">You do not have any accounts linked</span>
                    {% endif %}
                    </div>
                </div>
                <div><input class="btn btn-large btn-block btn-primary" style="width: 100%;" type="submit" value="Post to Selected Accounts" /></div>
                </form>
            </div>
      </div>
    </div>
{% endblock %}