{% extends 'start.html' %}

{% load staticfiles %}

{% block title %}aggregate.li | Register{% endblock %}

{% block body_block %}
    <div class="row">
            <div class="span4 offset4">
<h2 style="color: #eee; font-weight: bold;">Create Your Account</h2>

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/aggregator/">Get Started</a><br />
        {% else %}

        <form id="user_form" method="post" action="{% url 'create_account' %}">

            {% csrf_token %}

            {{ user_form.as_p }}


            <!-- Provide a button to click to submit the form. -->
            <div><input class="btn btn-large btn-block btn-primary" style="width: 80%;" type="submit" value="Register" /></div>
        </form>
        {% endif %}
         <div>
           <a href="{% url 'user_login' %}">I already have an account</a>
        </div>
    </div></div>
{% endblock %}

