<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!--bootstrap-->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!--app-->
    <link href="{% static "app/css/style.css" %}" rel="stylesheet">
</head>
<body id="login-page">
    <div id="login" class="container">
        <div class="row">
            <div class="span4 offset4 center">
                <a href="{% url 'index' %}">
                    <img src="{% static "app/img/logo.png" %}" height="45" alt="logo" />
                </a>
            </div>
        </div>
{% block body_block %}{% endblock %}
    </div>
</body>
</html>