﻿<meta http-equiv="refresh" content="300">
<div style="font-family: Arial,sans-serif; ">
{% if timeline %}
        {% for line in timeline %}
			<p><span style="color: #0088cc;"><img src="{{line.user.profile_image_url}}"  width="48px" height="48px" style="margin:5px;"/><strong style="font-size:14px;">{{line.user.name}}</strong> <small>@{{ line.user.screen_name}}</small> </span><br />
            <span style="font-size:12px;">{{ line.text }}</span> </p>
        {% endfor %}
{% endif %}
</div>